@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  background-color: #000000;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'CabinetGrotesk-Thin';
  src: url('/fonts/CabinetGrotesk-Thin.woff2') format('woff2'),
       url('/fonts/CabinetGrotesk-Thin.woff') format('woff'),
       url('/fonts/CabinetGrotesk-Thin.ttf') format('truetype');
  font-weight: 100;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'CabinetGrotesk-Extralight';
  src: url('/fonts/CabinetGrotesk-Extralight.woff2') format('woff2'),
       url('/fonts/CabinetGrotesk-Extralight.woff') format('woff'),
       url('/fonts/CabinetGrotesk-Extralight.ttf') format('truetype');
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'CabinetGrotesk-Light';
  src: url('/fonts/CabinetGrotesk-Light.woff2') format('woff2'),
       url('/fonts/CabinetGrotesk-Light.woff') format('woff'),
       url('/fonts/CabinetGrotesk-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'CabinetGrotesk-Regular';
  src: url('/fonts/CabinetGrotesk-Regular.woff2') format('woff2'),
       url('/fonts/CabinetGrotesk-Regular.woff') format('woff'),
       url('/fonts/CabinetGrotesk-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'CabinetGrotesk-Medium';
  src: url('/fonts/CabinetGrotesk-Medium.woff2') format('woff2'),
       url('/fonts/CabinetGrotesk-Medium.woff') format('woff'),
       url('/fonts/CabinetGrotesk-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'CabinetGrotesk-Bold';
  src: url('/fonts/CabinetGrotesk-Bold.woff2') format('woff2'),
       url('/fonts/CabinetGrotesk-Bold.woff') format('woff'),
       url('/fonts/CabinetGrotesk-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'CabinetGrotesk-Extrabold';
  src: url('/fonts/CabinetGrotesk-Extrabold.woff2') format('woff2'),
       url('/fonts/CabinetGrotesk-Extrabold.woff') format('woff'),
       url('/fonts/CabinetGrotesk-Extrabold.ttf') format('truetype');
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'CabinetGrotesk-Black';
  src: url('/fonts/CabinetGrotesk-Black.woff2') format('woff2'),
       url('/fonts/CabinetGrotesk-Black.woff') format('woff'),
       url('/fonts/CabinetGrotesk-Black.ttf') format('truetype');
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
/**
* This is a variable font
* You can control variable axes as shown below:
* font-variation-settings: wght 900.0;
*
* available axes:
'wght' (range from 100.0 to 900.0
*/
@font-face {
  font-family: 'CabinetGrotesk-Variable';
  src: url('/fonts/CabinetGrotesk-Variable.woff2') format('woff2'),
       url('/fonts/CabinetGrotesk-Variable.woff') format('woff'),
       url('/fonts/CabinetGrotesk-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

.nav-link {
  position: relative;
  padding-bottom: 4px;
  transition: color 0.25s ease;
}

.nav-link:hover {
  color: #FF6600;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #FF6600;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.nav-link:hover::after {
  width: 70%;
}
